 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


$link-color: RGB(65, 131, 196);
$header-bg: RGB(245, 245, 245);
@mixin border-sep {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

// Custom Styles
body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

.header-wrapper {
  background-color: $header-bg;
  width: 100%;
}

header {
  @include outer-container();
  color: black;
  width: 980px;
 
  a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $link-color;
      }
    } 

    ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: inline-block;

    > li {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      padding: 4px 8px;
      } // li
    } // ul

  }

.header-left {
  float: left;

  .octicon {
    font-size: 28px;
    vertical-align: middle;
  }
  
  > input[type="textbox"] {
      margin-left: 8px;
      width: 360px;
      height: 28px;
      font-size: 12px;
      padding: 4px 20px 4px 8px;
      border-radius: 3px;
      border: 1px solid lightgray;
      &:focus {
        border: 1px solid blue;
      }
  }
}

.header-right {
  float: right;

  .octicon {
    font-size: 18px;
    vertical-align: middle;
  }

  #header-avatar img {
    vertical-align: middle;
    width: 20px;
    border-radius: 3px;
    margin-right: 5px;
  };
}

.container {
  @include outer-container();
  width: 980px;
  margin-top: 20px;
}

aside {
  @include span-columns(3);

  a {
    text-decoration: none;
    color: $link-color;
  }

  #user-card {

    @include border-sep;
    span:nth-child(2) {
      font-size: 26px;
      font-weight: bold;
    }
    span:nth-child(3) {
      font-size: 20px;
      color: #666;
      font-weight: 200;
    }
    span {
      display: block;
    }
    img {
    width: 230px;
    border-radius: 6px;
    }
  }

  #user-details {
    @include border-sep;
    ul {
      padding: 2px 0;
      margin: 10px 0 0 0;;
      list-style: none;
      font-size: 14px;

      li {
        padding: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
      }
    }
    span {
      width: 16px;
      text-align: center;
      margin-right: 5px;
      vertical-align: middle;
    }
    .octicon:before {
      color: #ccc;
      text-align: center;
    }
  } // user-details

  #user-stats {
   margin-top: 10px; 
   overflow: auto;
   text-align: center;
   font-size: 11px;
   @include border-sep;

   div {
    float: left;
    @include span-columns(4);
   }
   span {
     display: block;
     font-size: 28px;
     font-weight: bold;
     color: $link-color;
   }

   a {
    color: #999;

    &:hover {
      color: $link-color;
    }
   }
  } // user-stats

  #user-orgs {
    h4 {
      margin: 18px 0;
    }
    img {
      width: 42px;
      vertical-align: middle;
      border-radius: 3px;
      display: inline-block;
    }
  }
}

main {
  @include span-columns(9);
  @include omega();
  margin-bottom: 40px;

  .tab-nav {
    overflow: auto;
    margin-bottom: -1px;

    .tab-nav-left {
      float: left;

      ul {
        margin: 0;
        padding: 0;
      }
 
       a {
          text-decoration: none;
          color: RGB(102, 102, 102);
        }     

      ul li {
        padding: 8px 12px;
        font-size: 14px;
        display: inline-block;
        list-style: none;
      }
    .tab-select {
      border: 1px solid lightgray;
      border-bottom: none;
      background-color: white;
      a { color: black; }
    }


    } // tab-nav-left

    .tab-nav-right {
      float: right;
 
        a {
          text-decoration: none;
          color: black;
       }     
        
        div {
          border-radius: 4px;
          background-color: $header-bg;
          border: 1px solid lightgray;
          padding: 4px 10px;
          font-size: 13px;
          font-weight: bold;
          &:hover {
            background-color: RGB(236, 236, 236);
          }
 
         }
      span {
        vertical-align: middle;
      }
    }
  } // tab-nav

  .search-nav {
    padding-top: 12px; 
    overflow: auto;
    border-top: 1px solid lightgray;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
    .search-nav-left {
      float: left;

     input[type="textbox"] {
      margin-left: 8px;
      width: 260px;
      height: 34px;
      font-size: 13px;
      padding: 4px 20px 4px 8px;
      border-radius: 3px;
      border: 1px solid lightgray;
        &:focus {
          border: 1px solid blue;
        }
      }

      button {
        padding: 7px 12px;
        font-size: 13px;
        font-weight: bold;
        color: #333;
        background-color: #eee;
        border: 1px solid #d5d5d5;
        border-radius: 3px;
        height: 34px;
        &:hover {
          background-color: RGB(225, 225, 225);
        }

      }
    } // search-nav-left

    .search-nav-right {
      float: right;
       ul {
         list-style: none;
         padding: 0;
         margin: 0;
         display: inline-block;

         li {
          display: inline-block;
          font-size: 14px;
          margin: 0 3px;
         }
       }
       a {
          text-decoration: none;
          color: $link-color;
          &:hover {
            text-decoration: underline;
          }
        }
      span {
        padding-right: 5px;
        vertical-align: middle;
      }

      div {
        background-color: RGB(135, 217, 106);
        border: 1px solid RGB(92, 169, 65);
        border-radius: 3px;
        font-size: 13px;
        font-weight: bold;
        padding: 7px 12px;
        color: white;
        display: inline-block;
        &:hover {
          background-color: RGB(111, 199, 80);
        }
      }
      .search-filter {
        color: black;
        font-weight: bold;
      }
    } // search-nav-right
  } // search-nav


  #user-repos {
    a { 
        color: $link-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

    .repo-info {
      overflow: auto;
      padding: 30px 0;
      border-bottom: 1px solid lightgray;
      
      .repo-heading {
        overflow: auto;
      }

      .repo-name {
        font-size: 20px;
        font-weight: bold;
        float: left;
      }

      .repo-stats {
        float: right;
        color: #888;
        font-size: 12px;
        font-weight: bold;

        span {
          font-weight: bold;
          font-size: 12px;
          padding-left: 8px;
        }
      }

      .repo-fork, .repo-desc, .repo-pushed-at {
        clear: both;
        margin-top: 8px;
      }

      .repo-desc {
        color: #666;
        font-size: 14px;
      }

      .repo-pushed-at {
        color: #888;
        font-size: 13px;
      }
    } // repo-info
  }
}

footer {
  overflow: auto;
  display: block;
  clear: both;
  margin: 40px 0;
  padding: 40px 0 0;
  border-top: 1px solid lightgray;

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-size: 12px;
        display: inline-block;

        a {
          color: $link-color;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
 
  .footer-left {
    @include span-columns(5);
    float: left;
    text-align: left;
    li {
      margin-right: 10px;
    }
 } // footer=left

  .footer-center {
    @include span-columns(2);
    text-align: center;
    a {
      font-size: 24px;
      color: RGB(204, 204, 204);

      &:hover {
        color: RGB(187, 187, 187);
      }
    }
  }

  .footer-right {
    @include span-columns(5);
    float: right;
    text-align: right;

    li {
      margin-left: 10px;
    }
  }
}









