 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


$link-color: RGB(65, 131, 196);
$header-bg: RGB(245, 245, 245);

// Custom Styles
body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

.header-wrapper {
  background-color: $header-bg;
  width: 100%;
}

header {
  @include outer-container();
  color: black;
  width: 980px;
 
  a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $link-color;
      }
    } 

    ul {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: inline-block;

    > li {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      padding: 4px 8px;
      } // li
    } // ul

  }

.header-left {
  float: left;

  .octicon {
    font-size: 28px;
    vertical-align: middle;
  }
  
  > input[type="textbox"] {
      margin-left: 8px;
      width: 360px;
      height: 28px;
      font-size: 12px;
      padding: 4px 20px 4px 8px;
      border-radius: 3px;
      border: 1px solid lightgray;
      &:focus {
        border: 1px solid blue;
      }
  }
}

.header-right {
  float: right;

  .octicon {
    font-size: 18px;
    vertical-align: middle;
  }

  #header-avatar img {
    vertical-align: middle;
    width: 20px;
    border-radius: 3px;
    margin-right: 5px;
  };
}

.container {
  @include outer-container();
  width: 980px;
  margin-top: 20px;
}

aside {
  @include span-columns(3);

  a {
    text-decoration: none;
    color: $link-color;
  }

  #user-card {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    span:nth-child(2) {
      font-size: 26px;
      font-weight: bold;
    }
    span:nth-child(3) {
      font-size: 20px;
      color: #666;
      font-weight: 200;
    }
    span {
      display: block;
    }
    img {
    width: 230px;
    border-radius: 6px;
    }
  }

  #user-details {
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    ul {
      padding: 2px 0;
      margin: 10px 0 0 0;;
      list-style: none;
      font-size: 14px;

      li {
        padding: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
      }
    }
    span {
      width: 16px;
      text-align: center;
      vertical-align: middle;
    }
    .octicon:before {
      color: #ccc;
      text-align: center;
    }
  } // user-details

  #user-stats {
    
  } // user-details
}

main {
  @include span-columns(9);
  background-color: blue;
  height: 500px;
}









