<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>010</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="header-wrapper">
    <header>
    <div class="header-left">
      <a href="#" class="octicon octicon-mark-github"></a>
      <input type="textbox" placeholder="Search GitHub"/>
      <ul>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Gist</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
    </div>
    <div class="header-right">
      <ul>
        <li id="header-avatar"></li>
        <li><a href="#" class="octicon octicon-plus"></a></li>
        <li><a href="#" class="octicon octicon-inbox"></a></li>
        <li><a href="#" class="octicon octicon-gear"></a></li>
        <li><a href="#" class="octicon octicon-sign-out"></a></li>
      </ul>
    </div>
    </header>
    </div> <!-- header-wrapper -->

    <div class="container">
    <aside>
      <div id="user-card">
        
      </div> <!-- user-card -->
      <div id="user-details">

      </div> <!-- user-details -->
      <div id="user-stats">

      </div> <!-- user-stats -->
      <div id="user-orgs">

      </div> <!-- user-orgs -->
    </aside>
    <main>

    </main>

    </div> <!-- container -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- lodash templates -->
    <script type="text/lodash" id="header-avatar-template">
      <a href="#"><img src="{{avatar_url}}&s=40" />{{login}}</a>
    </script>

    <script type="text/lodash" id="user-card-template">
      <a href="/account"><img src="{{avatar_url}}&s=460" /></a>
      <span>{{name}}</span>
      <span>{{login}}</span>
    </script>

    <script type="text/lodash" id="user-details-template">
      <ul>
        <li class="octicon octicon-location">{{location}}</li>
        <li><a href="mailto:{{email}}">{{email}}</a></li>
        <li><a href="{{blog}}">{{blog}}</a><li>
        <li>Joined on {{created_at}}</li>
      </ul>
    </script>

    <script type="text/lodash" id="user-stats-template">
      <a href="#">
        <span>{{followers}}</span>
        Followers
      </a>
      <a href="#">
        <span>{{starred}}</span>
        Starred
      </a>
      <a href="#">
        <span>{{following}}</span>
        Following
      </a>
    </script>

    <script type="text/lodash" id="user-orgs-template">
      <h4>Organizations</h4>
      <% _.each(orgs, function(org) { %>
        <a href="#"><img src="{{org.avatar_url}}" /></a>
      <% }); %> 
    </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/orgs.js"></script>
        <script src="scripts/starred.js"></script>
        <script src="scripts/repos.js"></script>
        <script src="scripts/user.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
